{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
    <h1 class="text-center">Cineflix</h1>
    <h2 class="text-center">Le meilleur de Netflix</h2>
{% endblock %}
