{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
	<section class="container my-5" style="min-height: 86.2vh;">
		<div class="row">
			<h1 class="text-center">Cineflix</h1>
			<h2 class="text-center">Le meilleur de Netflix</h2>
		</div>
	</section>
{% endblock %}
