body{
    background-color: #141414!important;
    color: #ffffff;
}

header .nav{
    background-color: #141414!important;
}
nav-item a{
    color: #ffffff!important;
}


footer{
    background-color: #141414!important;
    color: #ffffff;
}


.herobanner {
    background-color: #4d4d4d;
    background-size: cover;
    background-position: center;
    height: 75vh;
    width: 100%;
}

.herobanner h1{
    font-size: 48px;
    font-weight: bold;
    padding-top: 25vh;
}

.herobanner h2 {
    font-size: 32px;
    font-weight: bold;
    
}   