body{
    background-color: #141414!important;
    color: #ffffff;
}

header .nav{
    background-color: #141414!important;
}
nav-item a{
    color: #ffffff!important;
}


footer{
    background-color: #141414!important;
    color: #ffffff;
}
